@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@300&family=Roboto:wght@100;300;400;500&family=Rubik:wght@500&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-color: #dfe6e9;
}

a {
    text-decoration: none;
}

a:visited {
    color: black;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.profession {
    width: 23rem;
    height: 16rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #e74c3c;
    color: #fff;
    box-shadow: 5px 5px 5px #636e72;
}

.info {
    width: 23rem;
    height: 16rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #b2bec3;
    box-shadow: 5px 5px 5px #636e72;
}

main {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0.8rem 0.8rem;
}

.name-and-stack {
    border-bottom: 1px solid #576574;
    width: 23rem;
    height: 8rem;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}
.info .name-and-stack h2 {
    display: block;
}

.info .name-and-stack h3 {
    display: block;
    color: #e74c3c;
}

.info .name-and-stack .red-tag {
    display: block;
}

.contact {
    width: 23;
    height: 8rem;
    display: inline-block;
}
.contact .phone-num {
    padding-right: 16rem;
}
.contact .github {
    padding-right: 16rem;
    padding-top: 0.9rem;
}
.contact .email {
    padding-right: 16rem;
    padding-top: 0.9rem;
}


.profession .white-tag {
    padding-bottom: 2.6rem;
    font-size: 2rem;
}

.profession h1 {
    padding-bottom: 1.2rem;
}

.info .name-and-stack .red-tag {
    padding-bottom: 0.4rem;
    font-size: 2rem;
}

.info .name-and-stack h2 {
    padding-bottom: 0.8rem;
}

.info .contact {
    padding: 1rem 0;
}



@media screen and (max-width: 386px) {

    main {
        gap: 1.8rem;
    }

    .profession {
        font-size: 0.9rem;
        width: 100%;
        height: 23rem;
    }

    .info {
        width: 100%;
        height: 23rem;
        background: #fff;
    }

    .name-and-stack {        
        width: 100%; 
        height: 23rem;
    }

    .info-div h2 {
        font-size: 1.2rem;
        padding-left: 1rem;
    }

    .info-div h3 {
        font-size: 1rem;
    }

    .contact {
        width: 100%;
        height: 23rem;
        display: inline-block;
    }
    .contact .phone-num {
        padding-left: 1.5rem;
    }

    .contact .github {
        padding-left: 1.5rem;
    }

    .contact .email {
        padding-left: 1.5rem;
    }
}


@media screen and (min-width: 387px) and (max-width: 414px) {

    main {
        gap: 1.8rem;
    }

    .profession {
        font-size: 1rem;
        width: 23rem;
    }

    .info {
        background: #fff;
    }

    .info-div h2 {
        font-size: 1.2rem;
        padding-left: 1rem;
    }

    .info-div h3 {
        font-size: 1rem;
    }

    .info .name-and-stack {        
        width: 23rem; 
    }
}

@media screen and (min-width: 415px) and (max-width: 768px){

    body {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    main {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        margin-top: 7.6rem;
    }

    .info {
        width: 23.8rem;
        background: #fff;
    }

    .contact {
        width: 23.8rem;
        display: inline-block;
    }
    .contact .phone-num {
        padding-left: 1.5rem;
    }

    .contact .github {
        padding-left: 1.5rem;
        padding-top: 0.7rem;
    }

    .contact .email {
        padding-left: 1.5rem;
        padding-top: 0.7rem;
    }

    .profession {
        width: 23.8rem;
        font-size: 1rem;
    }

    .info .name-and-stack h2 {
        font-size: 1.2rem;
    }

    .info .name-and-stack h3 {
        font-size: 1rem;
    }

    .name-and-stack {
        width: 23.8rem;
        display: flex;
        flex-direction: row-reverse;
        justify-content:center;
        align-items: center;
    }
    .info-div {
        margin-right: 8rem;
        margin-bottom: 2rem;
    }
    .info .name-and-stack .red-tag {
        margin-bottom: 2rem;
    }

    .profession {
        display: flex;
        flex-direction: row;
        justify-content:center;
        align-items: center;
    }
    .profession .white-tag {
        margin-right: 1rem;
        margin-top: 1.8rem;
    }
    .profession h1 {
        margin-right: 0.7rem;
        margin-top: 1.2rem;
    }

}

@media screen and (min-width: 769px) {

    body {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    main {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        margin-top: 8rem;
    }

    .info {
        width: 32rem;
        background: #fff;
        cursor: pointer;
    }

    .contact {
        width: 32rem;
    }

    .profession {
        width: 32rem;
        font-size: 1rem;
        cursor: pointer;
    }

    .info .name-and-stack h2 {
        font-size: 1.2rem;
    }

    .info .name-and-stack h3 {
        font-size: 1rem;
    }

    .name-and-stack {
        width: 32rem;
        display: flex;
        flex-direction: row-reverse;
        justify-content:center;
        align-items: center;
    }
    .info-div {
        margin-right: 16rem;
        margin-bottom: 2rem;
    }
    .info .name-and-stack .red-tag {
        margin-bottom: 2rem;
    }

    .profession {
        display: flex;
        flex-direction: row;
        justify-content:center;
        align-items: center;
    }
    .profession .white-tag {
        margin-right: 1rem;
        margin-top: 1.8rem;
    }
    .profession h1 {
        margin-right: 0.7rem;
        margin-top: 1.2rem;
    }

    .contact {
        width: 32rem;
        height: 8rem;
        display: inline-block;
    }

    .contact .phone-num {
        padding-left: 2.3rem;
    }

    .contact .github {
        padding-left: 2.3rem;
        padding-top: 0.7rem;
    }

    .contact .email {
        padding-left: 2.3rem;
        padding-top: 0.7rem;
    }

}







