.container-info {
  background-color: #ecf0f1;
  width: 400px;
  height: 400px;
  padding: 60px 16px 0 16px;
  position: relative;
}

h1 {
  margin-bottom: 8px;
  color: #27ae60;
  font-size: 2.8rem;
}

.contact {
  margin-top: 24px;
  font-size: 13px;
  display: flex;
  gap: 3rem;
}

.about {
  margin-top: 20px;
  font-size: 13px;
}