.network {
  padding-bottom: 0;
  position: absolute;
  bottom: 0;
  font-size: 26px;
  display: flex;
  gap: 8px;
}

.network a:visited {
  color: inherit;
}

.network a:hover {
  color: #2ecc71;
}

.network a {
  color: black;
}